@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "../styles/variables";

:root {
  --background: 0deg 0% 100%;
  --foreground: 222.2deg 47.4% 11.2%;
  --muted: 210deg 40% 96.1%;
  --muted-foreground: 215.4deg 16.3% 46.9%;
  --popover: 0deg 0% 100%;
  --popover-foreground: 222.2deg 47.4% 11.2%;
  --border: 214.3deg 31.8% 91.4%;
  --input: 214.3deg 31.8% 91.4%;
  --card: 0deg 0% 100%;
  --card-foreground: 222.2deg 47.4% 11.2%;
  --primary: 222.2deg 47.4% 11.2%;
  --primary-foreground: 210deg 40% 98%;
  --secondary: 210deg 40% 96.1%;
  --secondary-foreground: 222.2deg 47.4% 11.2%;
  --accent: 210deg 40% 96.1%;
  --accent-foreground: 222.2deg 47.4% 11.2%;
  --destructive: 0deg 100% 50%;
  --destructive-foreground: 210deg 40% 98%;
  --ring: 215deg 20.2% 65.1%;
  --radius: 0.5rem;
}

.dark {
  --background: 0 0 0;
  --foreground: 213 31% 91%;
  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;
  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;
  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;
  --border: 0, 0%, 100%, .1;
  --input: 0, 0%, 100%, .1;
  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;
  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;
  --ring: 216 34% 17%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.background-secondary {
  background-color: hsl(var(--secondary)) !important;
}

.text-white {
  color: white;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img,
svg {
  vertical-align: middle;
}

.fm-modal {
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  width: fit-content;
  overflow-x: hidden;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.253);
}

.w-25 {
  width: 25%;
}

.file-explorer {
  min-height: 400px;
  height: 100%;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  position: relative;
  background-color: hsl(var(--background));
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  button {
    font-family: "Nunito Sans", sans-serif;
  }

  .files-container {
    display: flex;
    height: calc(100% - 46px);

    .navigation-pane {
      z-index: 1;
      padding-top: 8px;
      position: relative;

      .sidebar-resize {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 5px;
        cursor: col-resize;
        z-index: 10;
        border-right: 1px solid hsl(var(--border));

        &:hover {
          border-right: 1px solid hsl(var(--primary));
        }
      }

      .sidebar-dragging {
        border-right: 1px solid hsl(var(--primary));
      }
    }

    .folders-preview {
      z-index: 2;
      background-color: hsl(var(--background));
      padding-right: 0px;
      padding-left: 0px;
      border-bottom-right-radius: var(--radius);
    }
  }
}

.close-icon {
  padding: 5px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: hsl(var(--muted));
  }
}

.action-input {
  border: none;
  border-bottom: 1px solid hsl(var(--border));
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  transition: box-shadow 0.3s;
  background-color: hsl(var(--muted));
  padding: 6px 9px;
  margin-right: 8px;
  width: calc(100% - 18px);

  &:focus {
    outline: none;
    border-bottom-color: hsl(var(--primary)) !important;
    box-shadow: inset 0 -1px 0 0 hsl(var(--primary));
  }
}

.fm-rename-folder-container {
  padding: 8px 0;

  .fm-rename-folder-input {
    border-bottom: 1px solid hsl(var(--border));
    padding: 8px 12px 12px;

    .fm-rename-warning {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .fm-rename-folder-action {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 8px 8px 0 0;
  }
}

.file-selcted {
  .select-files {
    width: 40%;
  }
}
